<li>
    {{burger_name}}

 {{#unless devoured}}
    <button class="changeDevoured" data-id="{{id}}" data-devoured="{{devoured}}">
       Kick Them Out!
    </button>
    {{/unless}} 

{{#if devoured}}
    <button class="deleteBurger" data-id="{{id}}">
        Destroy Them!
    </button>

    {{/if}} 


</li>

